.chat {
  height: 67vh;
  display: flex;
}

.chatMenu {
  flex: 2.5;
  margin-left: 9vh;
  background-color: #f0f0f0;
  height: 93vh;
}

.chatMenuInput {
  width: 152%;
  padding: 10px 0;
  border: solid 1.5px #bebebe;
  margin-left: 1rem;
  margin-right: 2rem;
}

#chatBody {
  background-color: #f5f5f5;
}

.chatBox {
  flex: 7.5;
  width: 100%;
  background-color: #f5f5f5;
  
  box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.4);
}

#chatBoxTop {
  margin-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 65vh;
  padding-left: 3rem;
  padding-right: 2rem;
  background-color: #f5f5f5;
  
  box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.4);
}

#chatBoxBackground {
  margin-top: 63vh;
  height: 20vh;
  padding-left: 3rem;
  padding-right: 2rem;
  position: fixed;
  width: 100%;
  background-color: #f5f5f5;
  
  box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.4);
}

.chatBoxBottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  position: fixed;
  width: 90vw;
  height: 20px;
  padding-left: 12rem;
}


#chatTextInput {
  width: 100%;
  border: none;
  border-bottom: solid 3.5px #6264a7;
  margin-top: 68vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.sendIcon {
  color: rgb(156, 155, 155);
  margin-left: 0.5rem;
  margin-top: 68vh;
  background-color: #f5f5f5;
}

.smallIcons {
  color: rgb(95, 95, 95);
  text-align: left;
  margin-top: 0.2rem;
  background-color: #f5f5f5;
}

.sendIcon:hover {
  color: #6264a7;
}

.attachFileIcon,
.insertEmoticonIcon,
.micIcon {
  padding-left: 0.5rem;
}

.attachFileIcon:hover,
.insertEmoticonIcon:hover,
.micIcon:hover {
  color: #36396d;
}

.chatMenuWrapper,
.chatBoxWrapper {
  padding: 5px;
  height: 100vh;
}

#chatMenu,
#chatBox {
  margin-top: 7vh;
}

.chatMenuWrapper {
  background-color: #f0f0f0;
  padding:0px;
  width: 23.65vw;
  height:100%;
  padding-bottom: 1vh;
}

#chatBoxWrapper {
  height: 100%;
  width: 71vw;
}

#messagesWrapper {
  padding-right: 25px;
  padding-left: 20px;
  margin-top: 2rem;
  height: 80vh;
  
}
.postAddIcon {
  margin-top: 0.2rem;
  margin-left: 7rem;
}

.chat-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 1.5vw;
}


h3 {
  text-align: left;
  font-weight: 600;
  padding-left: 1rem;
  margin-top: 1.4rem;
  padding-bottom: 0.66rem;
  border-bottom: solid 0.8px rgb(204, 203, 203);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

h2 {
  font-size: 25px;
  text-align: left;
  font-weight: 800;
  padding-left: 1rem;
  padding-bottom: 0.1rem;
  margin-top: 0.3rem;
  border-bottom: solid 1px rgb(185, 184, 184);
}

.userName {
  border-bottom: solid 0.5px rgb(209, 208, 208);
  width: 70vw;
}

#emojiPicker {
  position: fixed;
  margin-left: 15.5vw;
  margin-top: 23vh;
  border: solid 0.5px grey;
  z-index: 9;
}

#chatMenuHeading {
  padding: 0.9rem;
}


#analyze_btn{
    background-color: #3f51b5;
    color: whitesmoke;
    height:1.5rem;
    margin-left: 0.8vw;
}

#analyze_btn:hover{
    background-color: #606db8;
}

a:link,a:hover{
  text-decoration: none;
  color:black;
}

a{
  color:black;
}

#analysis-result-div{
  position: fixed;
  margin-top: 68vh;
  margin-left: 56vw;
  z-index: 999;
  padding-top: 0.01vh;
  padding-left: 0.9vw;
  padding-right: 0.1vw;
  height: 15vh;
  width: 15vw;
  font-weight: 500;
  border: 2px solid #464775;
  border-radius: 25px;
  display: none;
  background-color: #f5eaea;
}

#cancelIcon{
  position: fixed;
  text-align: right;
  margin-top: 0.65vh;
  margin-left: 11.6vw;
  z-index: 99999;
  color: #464775;
}
#cancelIcon:hover{
  color: #86868d;
}