.form-center{
    margin-top:0.9rem;
    border-radius:0px 5px 5px 0px;
    width: 110%;
    height: 27px;
    background-color: #dadae3;
    margin-right: 35rem;
    border:none;
}

.icon{
    background-color: #dadae3; 
    margin-top: 0.9rem;
    padding: 0.3rem;
    margin-left: 2rem;
    border-radius: 5px 0 0 5px;
    height:25px;
    color: grey;
}

#searchBar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    
}
