.post {
  border: 2px solid lightgray;
  width: fit-content;
  margin-bottom: 45px;
  background-color: #ffffff;
  max-width: 500px;
  margin-top: 1vh;
  box-shadow: 0px 0px 3px;
}

.post__image {
  width: 100%;
  object-fit: contain;
}

.post__avatar {
  margin-left: 10px;
  margin-right: 0px;
}


.post__header {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0px;
  padding-right: 0px;
}

.post__text {
  padding: 6px;
  text-align: left;
}

.post__comments {
  padding: 1px;
  padding-left: 6px;
  padding-bottom: 0px;
  font-weight: 400;
}

.post__caption {
  padding: 0.3vw;
  font-weight: normal;
  font-size: 24px;
}

.post__commentBox {
  display: flex;
  margin-top: 1px;
}

.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.post__button {
  border: none;
  border-top: 1px solid lightgray;
  color: #6082a3;
  background-color: transparent;
  flex: 0;
}

#postsPage {
  display: flex;
}

#postsContainer {
  flex: 7.5;
  margin-left: 11vh;
  margin-top: 8.3vh;
  z-index: 8000;
}

#postDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.post__comments{
    text-align: left;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.upload {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.upload-btn-div{
    position:fixed;
    text-align: center;
   z-index: 100000;
   margin-top: 83.1vh;
   margin-left: 40vw;
   height: 2vh;
}

.upload-image-div{
  position:fixed;
  text-align: center;
 z-index: 100000;
 margin-top: 52vh;
 margin-left: 24vw;  
}

.area{
    background-color: #dadae3;  
    width: 100%;
    height:100%;
}

.circles{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 0;
    background-color: #dadae3; 
}

.circles li{
    position: fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #464775;
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: 0;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
   
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
   
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
   
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
  
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
  
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}