
  #evernote-container {
    height: 100%;
    box-sizing: border-box;
  }

  .main-notes-page{
    background-color: #f2f2f7;
  }
  .notes-container {
    height: 95vh;
    box-sizing: border-box;
    padding-left: 2vw;
    padding-top: 6vh;
    margin-top: 5vh;
    margin-left: 7vh;
    flex: 7.5;
  }
  .quill {
    height: 100%;
    box-sizing: border-box;
    width: calc(100% - 300px);
    float: left;
  }
  .ql-container {
    box-sizing: border-box;
    height: calc(100% - 42px);
    overflow-y: scroll;
  }
  .ql-editor {
    cursor: text;
  }
  .MuiListItem-root.Mui-selected {
    background-color: #d4d8e8 !important;
  }
  .no-note-selected {
    font-size: 48px;
    position: absolute;
    top: 50px;
    left: calc(50% - 165px);
  }
  .notes-flex{
    display: flex;
  }
  