body {
    margin: 0;
    
    background-color: #f2f2f7;
}

.video_connect_page{
    display: flex;
}

.connect_page_container{
    flex: 7.5;
    text-align: center;
    margin-top: 9vh;
    margin-left: 9.93vh;
    
}

.flex-container {
    height: 65vh;
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100vh;
    width: 90vw;
    max-width: 90vw;
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.connect-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 60vw;
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    margin-left: 17rem;
}

#link-holder{
    width: 12.8vw;
}

#contact-mail-icon{
    margin-top: 0.75rem;
    background-color: #3f51b5;
    color: whitesmoke;
    height: 4.55vh;
    width: 12vw;
    border-radius: 5px;
    cursor:pointer;
    font-size: 12px;
    font-weight: 500;
}

#contact-mail-icon:hover{
    background-color: #606db8;
}

#link-value-holder{
    width: 12.8vw;
}

#copy_btn{
    background-color: #3f51b5;
    color: whitesmoke;
}

#copy_btn:hover{
    background-color: #606db8;
}

#contact-form{
    display: none;
    margin-top: 1rem;
    margin-left: 2.8rem;
    width: 80vw;
}

#inputs{
    margin-right: 0.5rem;
    border-color: black;
    width: 10wh;
    border-radius: 5px;
}

#submit{
    background-color: #3f51b5;
    margin-left: 0.5rem;
    border-radius: 5px;
    color: white;
}

#submit:hover{
    background-color: #606db8;
    box-shadow: 2px 2px solid rgb(58, 57, 57);
}


.div-send-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#btn-down {
    z-index: 2;
    position: fixed; 
    width: 100%;
    height: 10vh;
    margin-top: 79vh;
    background-color:#dbdbdf;
    text-align: "center";
    padding-top: 4px;
}

